In [1]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient(
    "mongodb://filmsearcher:Qgf3KWPTqlLW76Te7ghm2nZfknyVqSQLQtviuGjgD1l8nYQqcVfh0H9lHN7SWhNxeNtmaZoHmPxDACDb5RwYIQ==@filmsearcher.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@filmsearcher@")
db = client["filmsClient"]
collection = db["films"]

In [16]:
import pandas as pd
from bson import ObjectId

indexes = ["645805050c334d789ccd8953", "645805050c334d789ccdba8e", "645805050c334d789ccdd72e", "645805050c334d789ccdd72e", "645805050c334d789ccd87cd"]
df = pd.DataFrame(list(collection.find({'_id': {'$in': list(map(lambda x: ObjectId(x), indexes))}})))

In [18]:
df['relevant'] = None

In [19]:
df

,_id,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords,relevant
0,645805050c334d789ccd87cd,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,161795,tt0119033,en,Déjà Vu,...,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your future is set...,Déjà Vu,False,8.0,1.0,love american pin stranger ruby,None
1,645805050c334d789ccd8953,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,125123,tt0122906,en,Among Giants,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"a love story from the writer of ""The Full Monty"".",Among Giants,False,4.5,2.0,yorkshire love friends,None
2,645805050c334d789ccdba8e,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,43327,tt0048791,en,The Virgin Queen,...,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Virgin Queen,False,7.8,4.0,queen elizabeth i sir walter raleigh,None
3,645805050c334d789ccdd72e,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,5995,tt0342771,sv,Miffo,...,105.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,Miffo,False,4.0,5.0,sweden new love,None